In [ ]:
# Use pandas to create a student marksheet with Student ID, Name, and marks obtained in 6 subjects
import pandas as pd

In [ ]:
# store column headers in a list
col_names = ['Student ID', 'Name', 'Marks1', 'Marks2', 'Marks3', 'Marks4', 'Marks5', 'Marks6']
#add header row to the dataframe
df = pd.DataFrame(columns = col_names)

In [ ]:
 #view the dataframe
df

Empty DataFrame
Columns: [Student ID, Name, Marks1, Marks2, Marks3, Marks4, Marks5, Marks6]
Index: []

In [ ]:
#adding student details to the dataframe with help of dictionary and append()
stud1 = {'Student ID':2, 'Name':'E', 'Marks1':45, 'Marks2':67, 'Marks3':53, 'Marks4':99, 'Marks5':74, 'Marks6':82}
df=df.append(stud1, ignore_index=True)

In [ ]:
df

  Student ID Name Marks1 Marks2 Marks3 Marks4 Marks5 Marks6
0          2    E     45     67     53     99     74     82

In [ ]:
# adding student details to the dataframe with help of another dataframe and concat()
stud1 = pd.DataFrame({'Student ID':[5], 'Name':['D'], 'Marks1':[32], 'Marks2':[55], 'Marks3':[64], 'Marks4':[63], 'Marks5':[71], 'Marks6':[77]})
df=pd.concat([df, stud1], axis=0, ignore_index=True)

In [ ]:
df

  Student ID Name Marks1 Marks2 Marks3 Marks4 Marks5 Marks6
0          2    E     45     67     53     99     74     82
1          5    D     32     55     64     63     71     77

In [ ]:
# adding student details to the dataframe with loc[] attribute using row index
df.loc[2] = [4,'A',39,51,76,80,78,91]

In [ ]:
df

  Student ID Name Marks1 Marks2 Marks3 Marks4 Marks5 Marks6
0          2    E     45     67     53     99     74     82
1          5    D     32     55     64     63     71     77
2          4    A     39     51     76     80     78     91

In [ ]:
# adding student details to the first row of dataframe with loc[] attribute as -1
df.loc[-1] = [8,'V',65,67,72,75,66,81]

In [ ]:
df

   Student ID Name Marks1 Marks2 Marks3 Marks4 Marks5 Marks6
 0          2    E     45     67     53     99     74     82
 1          5    D     32     55     64     63     71     77
 2          4    A     39     51     76     80     78     91
-1          8    V     65     67     72     75     66     81

In [ ]:
#rectifying indices
df.index = df.index + 1
df = df.sort_index()

In [ ]:
df

  Student ID Name Marks1 Marks2 Marks3 Marks4 Marks5 Marks6
0          8    V     65     67     72     75     66     81
1          2    E     45     67     53     99     74     82
2          5    D     32     55     64     63     71     77
3          4    A     39     51     76     80     78     91

In [ ]:
#Use pandas to get the name and ID of the student with the highest percentage of marks
sum=df['Marks1']+df['Marks2']+df['Marks3']+df['Marks4']+df['Marks5']+df['Marks6']
print(sum)

0    426
1    420
2    362
3    415
dtype: object

In [ ]:
per=sum/6
print(per)

0         71.0
1         70.0
2    60.333333
3    69.166667
dtype: object

In [ ]:
#assigning the percentage values as a dataframe column
df["per"]=per
print(df)

  Student ID Name Marks1 Marks2 Marks3 Marks4 Marks5 Marks6        per
0          8    V     65     67     72     75     66     81       71.0
1          2    E     45     67     53     99     74     82       70.0
2          5    D     32     55     64     63     71     77  60.333333
3          4    A     39     51     76     80     78     91  69.166667

In [ ]:
 #print the Student ID and Name of the row where the percentage is the highest among all the percentage values
print(df[['Student ID','Name']][df.per == df.per.max()])

  Student ID Name
0          8    V

In [ ]:
#  Write the dataframe to a csv file
df.to_csv("file.csv")